html{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;;
    height: 70px;
}
.header-logo-left{
display: flex;
margin-left: 29px;
}
.logo{

}
.logo-text{
padding-left: 25px;
font-weight: bold;
font-size: 22px;
line-height: 30px;
color: #FFFFFF;
}
.nav{

}
.nav-menu{
display: flex;
justify-content: center;
}
.nav-menu-item{
list-style-type: none;
}
.nav-menu-link{
color: #fff;
text-decoration: none;
padding-right: 35px;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
}
.search-logo{
display: flex;
justify-content: center;
align-items: center;
background: #000000;
width: 68px;
height: 70px;
}
.header-background{
    background-image: url("../img/header-background.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-banner-title{
    padding-top: 164px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.two-link{
    display: flex;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 65px;
}
.background-banner-subtitle-first{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #89CA62 ;
    padding: 16px 19px;
    border-radius: 10px;
    margin-right: 20px;
    text-decoration: none;
}
.background-banner-subtitle-second{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #14B9D5;
    padding: 16px 29px;
    border-radius: 10px;
    text-decoration: none;
}
.most-popular{
    margin-top: 49px;
}
.most-popular-title{
    display: flex;
    justify-content: center;
}
.most-popular-text{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
}
.most-popular-post{
    max-width: 1200px;
    margin: 0 auto;
}
.popular-post{
    margin-top: 52px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.popular-post-img{

}
.popular-post-item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.popular-post-link{
    text-decoration: none;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.popular-clients{
    margin-top: 72px;
    background-image: url("../img/popular client.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.wrapper-our-most-popular-clients{
    text-align: center;
}
.our-most-popular-title{
    padding-top: 108px;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button-blue-{
    padding-top: 87px;
}
.clients-logo-grid{
    margin-top: 107px;
    text-align: center;
}
.clients-logo-grid-item{
    padding-bottom: 185px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "  .   logo-img-1 logo-img-2 logo-img-3 logo-img-4 .   " ;
    align-items: center;
    justify-content: center;
}
.clients-logo-img-1{
    grid-area: logo-img-1;
    justify-self: center;
}
.clients-logo-img-2{
    grid-area: logo-img-2;
    justify-self: center;
}
.clients-logo-img-3{
    grid-area: logo-img-3;
    justify-self: center;

}
.clients-logo-img-4{
    grid-area: logo-img-4;
    justify-self: center;
}
.top-rated-title{
    margin-top: 49px;
    text-align: center;
}
.top-rated-title-text{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.top-rated-grid{
    margin-top: 52px;
    display: grid;
    grid-auto-flow:column ;

}
.top-rated-img{
    width: 100%;
    height: 100%;
}
.hot-news{
    width: 1180px;
    margin: 0 auto;
}
.hot-news-title{
    text-align: center;
}
.hot-news-title-text{
    margin-top: 48px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.grid-hot-news{
    display: grid;
    grid-template-areas:
    "emirate emirate emirate nebula"
    "egypt egypt maldives maldives"
    "tenerife tenerife britain britain"
    "ireland spain spain spain";
    row-gap: 40px;
    column-gap: 60px;
}
.emirate-img{
    width: 100%;
}
.emirate-hotel{
    grid-area: emirate;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F9F7F7;
}
.emirate-img{
    height: 100%;
}
.emirate-text{
    align-self: center;
    text-align: end;
    padding-right: 24px;
    padding-left: 12px;
}
.emirate-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 14px;
}
.emirate-subtitle{
    font-size: 14px;
    line-height: 21px;
}
.nebula-hotel{
    grid-area: nebula;
    background-color: #F9F7F7;
    text-align: center;
    padding-bottom: 11px;
}
.nebula-title{
    font-weight: bold;
    font-size: 18px;
    margin-top: 14px;
}
.egypt-hotel{
    grid-area: egypt;
    background-color: #F9F7F7;
}
.egypt-text{
    text-align: end;
    margin-right: 14px;
    margin-top: 12px;
}
.egypt-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
}
.egypt-subtitle{
    line-height: 21px;
    font-size: 14px;
}
.maldives-hotel{
    grid-area: maldives;
    background-color: #F9F7F7;
}
.maldives-text{
    text-align: end;
    margin-top: 14px;
    padding-right: 25px;
}
.maldives-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
}
.maldives-subtitle{
    font-size: 14px;
    line-height: 21px;
}
.tenerife-hotel{
    grid-area: tenerife;
    background-color: #F9F7F7;
}
.tenerife-text{
    text-align: end;
    margin-top: 12px;
    padding-right: 14px;
}
.tenerife-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
}
.tenerife-subtitle{
    line-height: 21px;
    font-size: 14px;
}
.britain-hotel{
    grid-area: britain;
    background-color: #F9F7F7;
}
.britain-text{
    text-align: end;
    margin-top: 14px;
}
.britain-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
    padding-right: 27px;
}
.britain-subtitle{
    padding-right: 14px;
    line-height: 21px;
    font-size: 14px;
}
.ireland-hotel{
    grid-area: ireland;
    background-color: #F9F7F7;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 71px;
}
.ireland-title{
    font-weight: bold;
    font-size: 18px;
    background-color: #F9F7F7;
    padding-top: 5px;
}
.spain-hotel{
    grid-area: spain;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F9F7F7;
    margin-bottom: 71px;
}
.spain-img{
    height: 100%;
}
.spain-text{
    text-align: end;
    align-self: center;
    padding-right: 24px;
    padding-left: 12px;
}
.spain-title{
    font-weight: bold;
    font-size: 18px;
}
.spain-subtitle{
    line-height: 21px;
    font-size: 14px;
}
.footer-panel{
    margin-top: 40px;
    background: #000000;
}
.container-footer{
    width: 1180px;
    margin: 0 auto;
    min-height: 80px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.copyright-text{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer-img{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}



















