body{
    font-family: 'Ubuntu', sans-serif;
}
.page-background {
    background-image: url("../img/background-page.png");
    background-position: center;
    background-size: cover;
    width: 100%;
}
.header{
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 79px;
}
.logo>a{
    text-decoration: none;
}
.logo-text{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo-text:hover{
    color: #3CB878;
    transition: 0.5s;
}
.contacts{
    display: flex;
    align-items: center;
}
.login{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.login>p{
    padding-left: 24px;
    padding-right: 79px;
}
.login-link{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.login-link:hover{
    color: #3CB878;
    transition: 0.5s;
}
.contacts-calendar{
    width: 21px;
    height: 24px;
    padding-right: 27px;
}
.contacts-mail{
    width: 23px;
    height: 23px;
    padding-right: 24px;
}
.contacts-navigate{
    width: 23px;
    height: 23px;
    padding-right: 25px;
    border-right: 1px solid #FFFFFF;
}
.main-block{
    margin-top: 54px;
    padding-bottom: 78px;
}
.form-container{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.form-text{
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.sign-up-log-in{
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}
.sign-up{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    text-decoration: none;
}
.log-in{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}
.log-in:hover{
    border-bottom: 1px solid #3CB878;
    transition: 0.5s;
}
.green-cube{
    position: absolute;
    top: 32px;
}
.fb-google-button{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.fb{
    background: #305DB8;
    border-radius: 5px;
    width: 155px;
    height: 48px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}
.facebook-logo{
   padding-left: 16px;
   width: 13px;
   height: 24px;
}
.facebook-text{
    padding-right: 22px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.google{
    background: #DF4A32;
    border-radius: 5px;
    width: 155px;
    height: 48px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.google-logo{
    width: 30px;
    height: 19px;
    padding-left: 12px;
}
.google-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 27px;
}
.or-and-line{
    margin-top: 31px;
}
.or{
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.first-name-list{
    margin-top: 12px;
    width: 324px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.first-name-list:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.name{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: none;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
.last-name-list{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.last-name-list:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.last{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    border: none;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
.mail-list{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.mail-list:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.email{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    border: none;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
.choose-password-list{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.choose-password-list:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.password{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    border: none;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
.confirm-password-list{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.confirm-password-list:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.confirm-password{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    border: none;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
.checkbox-row{
    margin-top: 12px;
}
.checkbox-list{
    display: flex;
    padding-left: 55px;
}
.checkbox-agree{
    width: 15px;
    height: 15px;
}
.checkbox-text{
    padding-top: 3px;
    padding-left: 8px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.checkbox-text-green{
    text-decoration: none;
    color: #3CB878;
}
.create-account{
    margin-top: 28px;
    text-align: center;
}
.create-account-link{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px 108px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.create-account-link:hover{
    background-color: #01813F;
    transition: 0.5s;
}
