body{
    font-family: 'Roboto', sans-serif;
}
.container-max-wight{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.logo_position{
    margin-top: 61px;
}
.logo_item{
    text-decoration: none;
    font-size: 79px;
    color: black;
}
.color-blue{
    color: #09b0c6;
}
.nav{
    background-color: #35444F;
}
.menu{
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.menu_item{
    list-style-type: none;
    align-items: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.menu_link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding: 22px 25px;
}
.main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left_menu{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
}
.left-menu-item{
    margin-left: 44px;
    list-style-type: none;
}
.left_menu_link{
    display: inline-block;
    padding-top: 45px;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
}
.main-content{
    margin-left: 52px;
}
.main-content-image{
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 73px;
}
.main-content-image-link{
    width: 320px;
    height: 381px;
}
.main-content-text{
    width: 882px;
}
.text-top{
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.text-bottom{
    margin-top: 34px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.bottom-panel{
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-menu{
    margin-left: 40px;
}
.footer-menu-item{
    display: inline-block;
    padding-right: 15px;
}
.footer-menu-link{
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-text{
    margin-right: 35px;
}
.copyright-text{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}





