*,
*::after,
*::before{
    box-sizing: border-box;
}

.page-body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0;
}
.page-menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}
.page-menu-item{
    margin: 25px 35px;
}
.top-menu-link{
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
.img{
    width: 100%;
}
.text{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
}
.h2{
    text-transform: uppercase;
    font-size: 22px;
}
.text-top{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1145px;
    font-size: 16px;
}
.text-bottom{
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 1145px;
    font-size: 16px;
}

.red-link-bottom {
    display: flex;
    justify-content: center;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-size: 12px;
    background-color: red;
    color: white;
    text-decoration: none;
    width: 190px;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: bold;
}

.copyright-text{
    text-align: right;
    margin-right: 105px;
    margin-top: 82px;
    margin-bottom: 29px;
    font-weight: bold;
}
