body{
    font-family: 'Roboto', sans-serif;
}
.page-background{
    background-image: url("../img/background 1.png");
    background-position: center;
    background-size: cover;
    width: 100%;
}
.container-width{
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
.logo{
    position: relative;
}
.title{
    position: absolute;
    left: 65px;
    top: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.subtitle{
    position: absolute;
    left: 65px;
    top: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.contacts{
    position: relative;
}
.email{
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.email:hover{
    color: #F26522;
    transition: 0.2s;
}
.telephone-number{
    position: absolute;
    top: 30px;
    right: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.telephone-number:hover{
    color: #F26522;
    transition: 0.2s;
}
.tours-block{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tours-item{
    display: flex;
    flex-direction: column;
    position: relative;
}
.tours-img{
    width:300px;
    height: 220px;
}
.tours-text-link{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.tours-text-link:hover{
    color: #F26522;
    transition: 0.2s;
}
.cost {
    position: absolute;
    background-color: #F26522;
    width: 100%;
    padding: 30px 0;
    bottom: 78px;
}
.price-cost{
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    left: 16px;
    bottom: 12px;
}
.price-cost::before {
    content: "from";
    position: absolute;
    bottom: 28px;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.price-details{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    right: 37px;
    bottom: 12px;
}
.price-details::after {
    position: absolute;
    content: ">";
    right: -20px;
}
.copyright-text{
    padding-top: 49px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

