html{
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.green-color{
    color: #18CFAB;
}
.header-background{
    background-image: url("../img/img_section_header.jpg");
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
}
.header{
    background: rgba(94, 93, 88, 0.6);
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    max-width: 1160px;
    margin: 0 auto;
}
.logo-letter{
    position: absolute;
    top: 18px;
    left: 13px;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}
.logo-link{
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-text{
    margin-left: 6px;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: white;
}
.logo-text>span{
    color: #18CFAB;
}
.nav{
    display: flex;
}
.nav-menu{
    display: flex;
    margin-left: 305px;
}

.nav-menu-item{
    padding-left: 21px;
}
.nav-menu-link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.nav-menu-link:hover{
    color: #18cfab;
    transition: 0.4s;
}
.search{
    padding-top: 3px;
    padding-left: 21px;
}
.search-img{
    width: 16px;
    height: 15px;
}
.header-center{
    margin-top: 264px;
    text-align: center;
}
.header-title{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-subtitle{
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 22px;
}
.header-description{
    font-size: 34px;
    color: #D4D4D4;
    padding-top: 22px;
}
.header-button{
    margin-top: 150px;
    padding-bottom: 259px;
    display: flex;
    justify-content: center;
}
.header-button-left{
    padding: 20px 21px;
    border-radius: 10px ;
    background-color: #18CFAB;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-button-right{
    padding: 20px 21px;
    border-radius: 10px ;
    background-color: #00CBF6;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 26px;
}
.main{
    margin-top: 8px;
}
.our-services{
    display: flex;
}
.four-block-black{
    width: 25%;
    height: 374px;
    background: #1C2A33;
}
.four-block-green{
    width: 25%;
    height: 374px;
    background: #18CFAB;
}
.four-block-img-black{
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 61px;
    height: 100px;
}
.four-block-img-green{
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 96px;
    height: 78px;
}
.four-block-text-black{
    padding-top: 47px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}
.four-block-text-green{
    padding-top: 72px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.our-services-content{
    margin-top: 83px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.services-title{
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}
.borders-green{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    position: relative;
}
.borders-green-top{
    width: 79px;
    height: 2px;
    background: #18CFAB;
}
.borders-green-bottom{
    width: 79px;
    height: 2px;
    background: #18CFAB;
    position: absolute;
    top: 4px;
    left: 550px;
}
.service-nav{
    margin-top: 69px;
}
.service-nav-bar{
    display: flex;
    justify-content: center;
}
.work-nav-item{
    font-size: 16px;
    text-align: center;
    color: #717171;
    text-decoration: none;
    background: #F8FCFE;
    padding: 17px 34px 18px;
}
.service-nav-link{
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    text-decoration: none;
    padding: 20px 37px;
    background: #F8FCFE;
}
.service-nav-link:hover{
    background: #18CFAB;
    transition: 0.5s;
}
.service-information{
    margin-top: 25px;
}
.service-information-content{
    display: flex;
    justify-content: center;
}
.service-information-img{
    width: 192px;
    height: 139px;
    padding-bottom: 91px;
}
.service-information-text{
    width: 900px;
    font-size: 14px;
    align-items: center;
    color: #777777;
    padding-left: 15px;
    line-height: 24px;
}
.buy-now{
    background: url("../img/BuyNowBackground.png");
    width: 100%;
    background-size: cover;
}
.buy-now-information{
    padding-top: 126px;
    text-align: center;
}
.buy-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}
.buy-subtitle{
    padding-top: 12px;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
.buy-now-button-position{
    padding-top: 83px;
    padding-bottom: 143px;
}
.buy-now-button{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    border-radius: 5px;
    padding: 16px 12px;
}
.amazing-work-background{
    background: #E9EDEF;
}
.amazing-work-container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.amazing-work-title{
    padding-top: 95px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.menu-amazing-block{
    margin: 0 auto;
}
.list-amazing {
    display: flex;
    justify-content: center;
    height: 60px;
}
.li-amazing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
    font-size: 14px;
    border: 1px solid #DADADA;
    flex-grow: 1;
    list-style-type: none;
    transition: all .7s;
}
.li-amazing:hover {
    color: #18cfab;
    border: 1px solid #18cfab;
    cursor: pointer;
}
.menu-amazing-block {
    width: 600px;
    margin-top: 100px;
}
.amazing-items {
    margin-top: 70px;
    max-width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-amazing {
    width: 285px;
    height: 211px;
}

.breaking-news {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.breaking-news-description{
    margin-top: 82px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.breaking-news-position{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 128px;
}
.breaking-news-block-1{
    position: relative;
}
.breaking-news-block-2{
    position: relative;
}
.breaking-news-block-3{
    position: relative;
}
.breaking-news-block-4{
    position: relative;
}
.breaking-news-block-5{
    position: relative;
}
.breaking-news-block-6{
    position: relative;
}
.breaking-news-block-7{
    position: relative;
}
.breaking-news-block-8{
    position: relative;
}
.breaking-news-block-link{
    text-decoration: none;
    background: #F8FCFE;
}

.breaking-news-items>img{
    width: 263px;
    height: 208px;
    margin-right: 25px;
    margin-top: 40px;
}
.breaking-news-block-title{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    padding-left: 25px;
}
.breaking-news-block-title:hover{
    color: #18CFAB;
    transition: 0.5s;
}
.breaking-news-block-subtitle{
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 25px;
}
.breaking-news-block-date-1{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-1:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-1{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-1{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.breaking-news-block-date-2{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-2:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-2{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-2{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.breaking-news-block-date-3{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-3:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-3{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-3{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.breaking-news-block-date-4{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-4:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-4{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-4{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.breaking-news-block-date-5{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-5:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-5{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-5{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.breaking-news-block-date-6{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-6:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-6{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-6{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.breaking-news-block-date-7{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-7:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-7{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-7{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.breaking-news-block-date-8{
    background: #203E38;
    padding: 15px 8px;
    width: 50px;
    height: 38px;
    position: absolute;
    top: 40px;
    right: 25px;
}
.breaking-news-block-date-8:hover{
    background-color: #18CFAB;
    transition: 0.5s;
}
.news-block-date-number-8{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.news-block-date-month-8{
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.reviews{
    background: url("../img/reviews-background.png");
    width: 100%;
}
.reviews-position{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.reviews-title{
    padding-top: 98px;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.green-drops-position{
    display: flex;
    justify-content: center;
    margin-top: 67px;
}
.review-member{
    padding-top: 36px;
}
.reviews-member-text{
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
}
.reviews-member-name{
    padding-top: 37px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.reviews-member-profession {
    padding-top: 10px;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #BBBBBB;
}
.member-photo-for-slider{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    position: relative;
}
.reviews-member-photo{
    position: absolute;
    top: 71px;
}
.slider{
    padding-top: 58px;
    display: flex;
    justify-content: center;
    padding-bottom: 98px;
}
.slider-left-border{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-right: 30px;
    width: 31px;
    height: 31px;
}
.slider-left{
    border: 1px solid #BBBBBB;
    padding: 8px 10px;
}
.slider-left:hover{
    background-color: #18CFAB;
    transition: 0.3s;
}
.slider-right-border{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 30px;
    width: 31px;
    height: 31px;
}
.slider-right{
    border: 1px solid #BBBBBB;
    padding: 8px 10px;
}
.slider-right:hover{
    background-color: #18CFAB;
    transition: 0.3s;
}
.member-1{
    position: relative;
    padding-right: 38px;
}
.member-slider-1{
    position: absolute;
    right: 41px;
    top: 4px;
}
.member-2{
    padding-right: 38px;
    position: relative;
}
.member-slider-2{
    position: absolute;
    right: 43px;
    top: 5px;
}
.member-3{
    padding-right: 32px;
    position: relative;
}
.member-slider-3{
    position: absolute;
    right: 35px;
    top: 4px;
}
.member-4{
    position: relative;
}
.member-slider-4{
    position: absolute;
    right: 4px;
    top: 5px;
}
.gallery-best-img-position{
    margin-top: 108px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.gallery-best-img-title{
    text-align: center;
    font-size: 36px;
    color: #4E4E4E;
}
.grid-block-best-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 83px;
}
.gallery-best-img-1{
    width: 378px;
    height: 263px;
}
.gallery-best-img-2 {
    width: 378px;
    height: 380px;
}
.gallery-best-img-3{
    width: 180px;
    height: 168px;
}
.gallery-best-img-4{
    width: 181px;
    height: 169px;
}
.gallery-best-img-5{
    width: 378px;
    height: 263px;

}
.gallery-best-img-6{
    width: 378px;
    height: 247px;
}
.block-6-photo{
    max-width: 352px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gallery-best-img-7{
    width: 378px;
    height: 290px;
}
.gallery-best-img-8{
    width: 378px;
    height: 254px;
}
.gallery-best-img-9{
    width: 363px;
    height: 373px;
}
.gallery-btn-position{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 80px;
}
.gallery-button{
    border: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 25px 8px 58px;
    background: #18CFAB;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
}
.gallery-button-plus{
    position: absolute;
    top: 25px;
    left: 25px;
}
.copyright-position{
    background: #22353F;
    min-height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.copyright-text-green-text{
    color: #18CFAB;
}