body,html{
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
}
.burger-menu-button{
   position: absolute;
   top: 10px;
   right: 15px;
   z-index: 30;
   width: 44px;
   height: 37px;
   background-color: #000000;
   @media (min-width: 768px){
      display: none;
   }
   @media (max-width: 480px){
      right: 15px;
   }
}
.burger-menu-button:hover .burger-menu-lines{
   filter: brightness(0.7);
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
   position: absolute;
   width: 20px;
   height: 3px;
   background-color: #fff;
}
.burger-menu-lines{
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
}
.burger-menu-lines::before{
   content: "";
   top: -8px;
}
.burger-menu-lines::after{
   content: "";
   top: 8px;
}
.burger-menu_active .burger-menu-lines{
   background-color: transparent;
}
.burger-menu_active .burger-menu-lines:before{
   top: 0;
   transform: rotate(45deg);
}
.burger-menu_active .burger-menu-lines:after{
   top: 0;
   transform: rotate(-45deg);
}
.burger-menu_overlay {
   @media (min-width: 320px) and (max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vh;
      height: 100vh;
      z-index: 10;
   }
}
.burger-menu_active .burger-menu_overlay{
   @media (max-width: 767px) {
      display: block;
   }
}
.menu-body{
   max-width: 1200px;
   margin: 45px auto 0;
   @media (max-width: 767px){
      position: relative;
   }
}
.menu-list{
   display: flex;
   justify-content: center;
   :hover{
      color: #57A4A4;
      transition: 0.3s;
   }
   @media (max-width: 767px){
      display: none;
      flex-flow: column;
      z-index: 20;
      background-color: #F5F5F5;
      height: 208px;
      max-width: 182px;
      position: absolute;
      top: -3px;
      right: 15px;
   }
}
.menu-items{
   padding-right:  60px;
   @extend %list-reset;
   @media (min-width: 768px) and (max-width: 1199px){
      padding-right: 34px;
   }
   @media (max-width: 767px){
      padding-left: 13px;
      padding-top: 4px;
   }
}
.menu-link {
   @extend %color-for-title-and-tags;
   @extend %link-reset ;
   font-size: 11px;
   line-height: 22px;
   display: flex;
   align-items: center;
   letter-spacing: 1px;
   text-transform: uppercase;
   @media (max-width: 767px){

   }
}
.img-position {
   margin-top: 51px;
   display: flex;
   justify-content: center;
   @media (min-width: 768px) and (max-width: 1199px){
      margin-top: 30px;
   }
   @media (min-width : 481px) and (max-width : 767px) {
      margin-top: 50px;
   }
   @media (min-width : 320px) and (max-width : 480px) {
      margin-top: 50px;
   }
}
.img-item {
      max-width: 1170px;
      max-height: 550px;
      margin-bottom: 50px;
   @media (min-width: 768px) and (max-width: 1199px){
      max-width: 95%;
      margin-bottom: 20px;
   }
   @media (min-width : 481px) and (max-width : 767px) {
      max-width: 95%;
      max-height: 350px;
   }
   @media (min-width : 320px) and (max-width : 480px) {
      max-width: 90%;
      max-height: 206px;
   }
}
.our-posts{
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
   @media (min-width: 320px) and (max-width: 1199px){
      margin-left: 23px;
   }
}
.our-posts-title {
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   display: flex;
   text-transform: uppercase;
   @extend %color-for-title-and-tags;
}
.posts-position{
   display: flex;
   flex-wrap: wrap;
}
.posts-item{
   display: flex;
   margin-top: 24px;
   @media (min-width : 320px) and (max-width : 480px) {
      display: flex;
      flex-direction: column;
   }
}
.posts-img{
   Width: 160px;
   Height: 140px;
}
.posts-text{
   margin-left: 20px;
   @media (min-width : 320px) and (max-width : 480px) {
      margin-left: 0;
   }
}
.posts-title{
   font-weight: bold;
   font-size: 16px;
   line-height: 30px;
   @extend %color-for-title-and-tags;
   @extend %link-reset;
   @media (min-width : 481px) and (max-width : 767px) {
      font-size: 16px;
   }
   @media (min-width : 320px) and (max-width : 480px) {
      font-size: 16px;
   }
}
.posts-subtitle{
   font-size: 12px;
   line-height: 20px;
   color: #7C7C7C;
}
.posts-description{
   width: 404px;
   height: 40px;
   padding-top: 13px;
   font-size: 14px;
   line-height: 26px;
   @extend %color-for-description;
   @media (min-width : 320px) and (max-width : 767px) {
      display: none;
   }
}
.footer{
   background: #000000;
   margin-top: 49px;
   width: 100%;
   @media (min-width: 768px) and (max-width: 1199px){
      margin-top: 49px;
   }
   @media (min-width : 320px) and (max-width : 767px) {
      margin-top: 40px;
   }
}
.footer-text{
   padding-top: 66px;
   @media (min-width : 320px) and (max-width : 767px) {
      padding-top: 24px;
   }
}
.footer-title{
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   text-transform: uppercase;
   color: #FEFEFE;
   text-align: center;
   @media (min-width : 320px) and (max-width : 767px) {
      font-size: 14px;
   }
}
.footer-description-position{
   @extend %flex-center;
}
.footer-description{
   max-width: 675px;
   font-size: 16px;
   line-height: 28px;
   color: #B9B9B9;
   padding-top: 22px;
   text-align: center;
   @media (min-width : 320px) and (max-width : 767px) {
      max-width: 303px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
   }
}
.footer-icons-position{
   @extend %flex-center;
   padding-top: 37px;
}
.footer-icons{
   position: relative;
}
.footer-img{
   padding-right: 30px;
}
.footer-round{
   position: absolute;
   right: 18px;
   bottom: -9px;
}
.footer-copyright{
   padding-top: 34px;
   padding-bottom: 70px;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #B9B9B9;
   @media (min-width : 320px) and (max-width : 767px) {
      max-width: 235px;
      font-size: 14px;
      line-height: 24px;
      padding-bottom: 45px;
      padding-top: 25px;
      margin-left: auto;
      margin-right: auto;
   }
}