%list-reset {
   margin: 0;
   padding-left: 0;
   list-style: none;
}
%link-reset{
   text-decoration: none;
}
%color-for-title-and-tags{
   color: #4E4E4E;
}
%color-for-description {
   color: #7C7C7C;
}
%flex-center{
   display: flex;
   justify-content: center;
}

